
body {
    background: url("world.png") no-repeat scroll top;
    background-size: contain;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
}

#grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;

    margin: 5px 25vw;
}


.card {
    width: 150px;
    height: 150px;

    background-color: bisque;

    color: chocolate;
    font-size: x-large;
    text-align: center;
    line-height: 90px;

    border-radius: 20px;
}